

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 13px;
  color: black;
  background-color: #ffffff !important; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #56070c !important; 
}

h1 {
  text-align: center;
  font-size: 40px !important;
  color: #56070c !important; 
  margin: 0 !important;
  padding-top: 20px !important;
}

.swiper {
  width: 100% !important;
  padding: 0 !important;
  margin-top: 20px !important; 
}

.swiper-wrapper {
  margin: 0 !important; 
}

.swiper-slide {
  width: 300px !important; 
  height: 450px !important; 
  background-color: #ffffff !important; 
  box-shadow: 0 0 20px rgba(235, 183, 183, 0.788) !important;
  padding: 20px !important; 
  text-align: center !important;
  margin: 0 auto !important;
  opacity: 1 !important; 
}

.icons {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}

.icons i {
  font-size: 20px !important;
  color: #56070c !important;
}

.icons img {
  width: 120px !important; 
}

.product-content {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 20px !important;
}

.product-txt {
  flex-basis: 50% !important;
  text-align: left !important;
}

.product-txt span {
  font-size: 20px !important;
  color: #56070c !important;
  font-weight: bold !important;
}

.product-txt h3 {
  font-size: 18px !important;
  color: black !important;
  text-transform: uppercase !important;
}

.product-txt ul {
  font-size: 12px !important;
  color: black !important;
  padding-left: 20px !important; 
}

.product-img {
  flex-basis: 50% !important; 
  text-align: right !important;
}

.product-img img {
  width: 100px !important; 
}

.btn-1 {
  display: inline-block !important;
  padding: 10px 40px !important;
  border: 1px solid #56070c !important;
  border-radius: 25px !important;
  color: #56070c !important;
  text-decoration: none !important;
  margin-top: 20px !important; 
  background-color: #ffffff !important; 
}

.btn-1:hover {
  background-color: #56070c !important;
  color: #ffffff !important;
}
